<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <table>
    <tr>
      <td>
        <img src="https://pp.userapi.com/c852236/v852236666/d77ae/GNTi2ok5Irs.jpg" alt="head">
      </td>
    </tr>
    <tr>
      <td>
        <h1>Добро пожаловать на eXlight.name!</h1>
        <p>
          Приветствую! Вы зарегистрировались на сайте
          <a href="{{domain}}"> {{domain}}</a>
          Меня зовут Андрей, я автор и администратор этого ресурса.
          Если у Вас есть вопросы или предложения Вы можете написать мне на почту
          <a href="mailto:{{adminEmail}}">{{adminEmail}}</a>
        </p>
        <br>
        <p>Что бы подтвердить регистрацию, пожалуйста пройдите по этой ссылке:</p>
        <a href="{{link}}">{{link}}</a>.
        <p>Если вы не регистрировались на сайте, проигнорируйте это письмо либо нажмите на следующую ссылку:</p>
        <p>
          <a href="{{disableLink}}">{{disableLink}}</a>, что бы удалить данные о регистрации.
        </p>
      </td>
    </tr>
  </table>
</body>

</html>
